.padre-externo {
  padding: 20px; /* Padding del contenedor padre */
  background-color: lightgrey;
}

.padre {
  width: 80%; /* Ancho del contenedor padre */
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
  overflow: hidden; /* Ocultar el desbordamiento */
}

.scroll {
  display: flex; /* Utilizamos flexbox para alinear las imágenes */
  animation: marquesina 20s linear infinite; /* Animación de la marquesina */
}

.scroll img {
  margin-right: 10px; /* Espacio entre imágenes */
}

/* Animación de la marquesina */
@keyframes marquesina {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}